.cart{
    height: 900px;
    padding-top: 10rem


}

.cart img{
    width: 200px;
}

.eliminarProducto{

text-decoration: none;
border-radius: 10px;
width: 35px;
height: 35px;
font-size: x-large;
background-color: rgb(255, 3, 3);
flex: none;
color: white;
cursor: pointer;
outline: inherit;
margin-top: 2rem;
margin-bottom: 2rem;

}

.detalleCompra{
    margin-top: 2rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    margin-bottom: 4rem;
}

.btnPagar{
    margin-top: 3rem;
    

}

.toPay{
    text-decoration: none;
    border-radius: 10px;

    background-color: goldenrod;
    flex: none;
    color: white;
    cursor: pointer;
    outline: inherit;
    box-shadow: 1px 1px 10px black
    

}